{% extends "base.html" %}
{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1>P4 Dynamic Routing</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <form action="{{ url_for('send_traffic') }}" method="post">
                            <h1>Traffic Generator</h1>
                            <div class="mb-3">
                                <input class="form-control" type="text" name="destination_addr"
                                       placeholder="Destination"/>
                                <input class="form-control" type="text" name="source_addr" placeholder="Source"
                                       style="margin-top: 10px;"/>
                                <select id="traffic_packet_type" name="packet_type" class="form-select"
                                        style="margin-top: 10px;">
                                    <optgroup label="Packet Type">
                                        <option value="udp" selected>UDP</option>
                                        <option value="tcp">TCP</option>
                                        <option value="icmp">ICMP</option>
                                    </optgroup>
                                </select><input class="form-control" type="text" name="count" placeholder="Count"
                                                style="margin-top: 10px;"/></div>
                            <div class="mb-3"></div>
                            <div class="mb-3">
                                <button class="btn btn-primary shadow d-block w-100" type="submit"
                                        style="margin-top: 0px;">Send it!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <form action="{{ url_for('sniff') }}" method="post">
                            <h1>Packet Sniffer</h1>
                            <div class="mb-3">
                                <input class="form-control" type="text" name="source_addr" placeholder="Source"
                                       style="margin-top: 10px;"/>
                                <select id="sniff_packet_type" name="packet_type" class="form-select"
                                        style="margin-top: 10px;">
                                    <optgroup label="Packet Type">
                                        <option value="udp" selected>UDP</option>
                                        <option value="tcp">TCP</option>
                                        <option value="icmp">ICMP</option>
                                    </optgroup>
                                </select><input class="form-control" type="text" name="count" placeholder="Count"
                                                style="margin-top: 10px;"/></div>
                            <div class="mb-3"></div>
                            <div class="mb-3">
                                <button class="btn btn-primary shadow d-block w-100" type="submit"
                                        style="margin-top: 0px;">Sniff it!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}

