UserKnownHostsFile /dev/null
StrictHostKeyChecking no
ServerAliveInterval 120
Host bastion-1.fabric-testbed.net
 User sgupt330_0000024390
 ForwardAgent yes
 Hostname %h
 IdentityFile ~/.ssh/fabric-bastion-key
 IdentitiesOnly yes
Host * !bastion-?.fabric-testbed.net
 ProxyJump sgupt330_0000024390@bastion-1.fabric-testbed.net:22
